.container {
    background-color: blanchedalmond;
    height: auto;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center; 
}

.img1 {
    width: 40%;
    height: auto;
    text-align: center;
}

#h2 {
    font-size: 100px;
    text-align: center;
}

.ul {
    padding: 0;
}

.li {
    list-style: none;
}

.skills {
    font-size: auto;
    display: flex;
    flex-flow: row;
    list-style: none;
    flex-wrap: row; 

}

.img2 {
    height: 30%;
    width: 30%;
}

.img3 {
    height: 30;
    width: 30%;
}

.img4 {
    height: 30%;
    width: 30%;
}

.img5 {
    height: 30%;
    width: 30%;
}

.img6 {
    height: 30%;
    width: 30%;
}

.img7 {
    height: 30%;
    width: 30%;
}

.couple {
    font-size: 200%;
}

.case {
    display: flex;
    flex-direction: column;
}